*{
    margin : 0;
    font-family: arial;
    border sizing: border-box;  
}

.header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 15px;
    background-color: black;
    color: white;
}
.left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-header img {
    width: 120px;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
}
.center{
    flex:1;
    margin:0 20px;
}
.search-bar{
    display: flex;
    width:100%;

}
.search-bar input{
    flex: 1;
    padding:10px;
}
.search-icon{
    background-color: rgb(234, 164, 34);
    border:none;
    padding:8px 12px;
}
 .right-header{
    display: flex;
    gap:10px;
    align-items: center;
    font-size:15px;
 }
 .flag{
    display: flex;
    align-items: center;
 }
 .cart i{
   font-size: 20px;
 }
 .hover-box{
    padding:6px 8px;
    border:1px solid transparent;
    cursor: pointer;
 }
 .hover-box:hover{
    border:1px solid WHITE;
    border-radius: 2px;

 }
 .nav-bar{
    display: flex;
    height:25px;
    color:white;
    justify-items: flex-start;
    gap:15px;
    align-items: center;
    padding:10px;
    font-weight: bold;
     background: #232f3e;
 }
.search-bar select {
    background-color: #e6e6e6;   
    color: #0f1111;              
    font-weight: 600;
    border: none;
    padding: 8px;
    outline: none;
}

.hero {
    height: 450px;
    background-image: url("hero_image.jpg"); /* add any image */
    background-size: cover;
    background-position: center;
    
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    display: flex;
    width:100%;

    
}

.hero-text {
    background: white;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    width:100%;
    margin:15px;
    display:flex;
    padding:20px;
    cursor: pointer;
}

.hero-text a {
    color: #007185;
    text-decoration: none;
}
.shop-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #e3e6e6;
    postion:absolute;
    margin-top: 600px;
}

.box {
    background-color: white;
    padding: 15px;
    height: 350px;
    width: 100%;
}

.box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.box-img {
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.box p {
    color: #007185;
    cursor: pointer;
}
.box-img {
    height: 250px;
    overflow: hidden;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    margin-top: 40px;
}

/* Back to top */
.footer-top {
    background-color: #37475a;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}

.footer-top:hover {
    background-color: #485769;
}

/* Links section */
.footer-links {
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px;
}

.footer-col h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    font-size: 14px;
    color: #dddddd;
    margin-bottom: 8px;
    text-decoration: none;
}

.footer-col a:hover {
    text-decoration: underline;
}

/* Bottom bar */
.footer-bottom {
    background-color: #131a22;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 13px;
}


